.cover {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1999;
    background: #000;
}

body {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    overflow-x: hidden;
}

.navbar {
    min-height: 12px;
    background: #6d090b;
    border-radius: 0;
    margin-bottom: 0px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #e2e2e2;
}

#navbar-nav li {
    display: inline-block;
    padding: 10px 20px;
}

#navbar-nav li a.link-menu {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
    font-family: 'Oswald', sans-serif;
    font-size: 19px;
    transition: .1s all ease;
    -webkit-transition: .1s all ease;
    -moz-transition: .1s all ease;
}

.navbar-header button.navbar-toggle {
    color: #fff;
    font-size: 30px;
}

span.linkhead {
    margin: 0 10px;
}

div.header-right {
    float: right;
    margin-top: 5px;
}

div.cart_box a.cart_total {
    color: #fff;
}

div.cart_box span.fa-shopping-cart,
div.cart_box .empty_cart {
    color: #b5b5b5;
    text-decoration: none;
}

div.cart_box h3 {
    float: left;
    padding: 0;
    margin: 5px 0;
    font-size: 19px;
}

div.cart_box p {
    float: left;
    margin-left: 8px;
    margin-top: 3px;
}

#link-underline {
    text-decoration: none;
    color: #fff;
}

.bt-header {
    padding-top: 8px;
}

.bt-header a#link-color {
    color: #fff;
}

a#link-color {
    color: #fff;
}

div#cart #cart_a_link {
    border-radius: 0;
    box-shadow: none;
    outline: 0;
    color: #fff;
    padding: 8px 18px 7px;
    margin: 0;
    text-decoration: none;
}

@media all and (min-width: 768px) {
    #cart ul.dropdown-menu {
        padding: 0;
        width: 350px !important;
        top: 36px;
        margin-top: 0;
        border: 1px solid #000;
        border-radius: 0;
        background: #fff;
    }
}

@media all and (max-width: 768px) {
    #drop-menu {
        min-width: 0;
        margin: 0;
        float: none;
        text-align: center;
        position: absolute;
        z-index: 1000;
        width: 295px;
        right: 55px;
        left: -77px !important;
    }
    .bt-header {
        padding: 8px;
    }
    .bt-cart {
        padding-bottom: 17px;
    }
}

#cart .dropdown-menu li p.empty {
    margin: 30px 0;
    padding: 50px 0;
    overflow: hidden;
    color: #505050;
    text-align: center;
}

header {
    background: #6d090b;
    padding: 20px 0 10px 0;
}

section.bt-header-menu {
    background: #6d090b;
}

label.error {
    color: red;
    font-size: 13px;
}

div.bt-main-menu li a.link-menu {
    color: #ccc;
    transition: .1s all ease;
    font-family: 'Oswald', sans-serif;
    font-size: 12px;
    -webkit-transition: .1s all ease;
    -moz-transition: .1s all ease;
}

div.bt-main-menu li a.link-menu:hover {
    color: #fff;
}

@media (min-width: 768px) {
    .dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgb(85, 8, 9);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        border-radius: 0;
        padding: 0;
        border: 0;
        top: 45px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 -2px 10px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 -2px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 -2px 10px rgba(0, 0, 0, 0.2);
    }
    li.dropdown:hover .dropdown-content {
        display: block;
    }
    li.dropdown:hover #dropbtn {
        color: #fff;
    }
    div.bt-main-menu li .dropdown-content a.list-group-item {
        color: #fff;
        border: 0;
        background: #550809;
        text-decoration: none;
        border-radius: 0;
        border-bottom: solid #fff;
        outline: 0;
        font-size: 15px;
    }
    div.bt-main-menu li .dropdown-content a.list-group-item:hover {
        color: #ccc;
    }
    div.bt-main-menu li .dropdown-content a.list-group-item:last-child {
        border-bottom: 0;
    }
    div.bt-main-menu .nav li a.link-menu:hover {
        background: transparent;
        color: #fff;
        transition: .1s all ease-out;
        -webkit-transition: .1s all ease-out;
        -moz-transition: .1s all ease-out;
    }
}

@media (max-width: 768px) {
    #navbar-collapse {
        background: #000;
        border-top: solid 1px #fff;
    }
    #navbar-collapse:first-child {
        border-top: solid 1px #fff;
    }
    #navbar-collapse:last-child {
        border-bottom: solid 1px #fff;
    }
    .dropdown div.dropdown-content a.list-group-item {
        border: 0;
    }
    #dropdown-mod a {
        background: #550809;
        font-size: 15px;
        text-decoration: none;
        color: #fff;
        border-radius: 0;
        border-bottom: solid #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 -2px 10px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 -2px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 -2px 10px rgba(0, 0, 0, 0.2);
        outline: 0;
        padding: 15px;
    }
    #dropdown-mod a:last-child {
        border-bottom: 0;
    }
}

.breadcrumb {
    border-radius: 0px;
    overflow: hidden;
    padding: 8px 15px;
    margin-top: 0px;
    background: #000;
    margin-bottom: 30px;
}

div#login {
    padding-bottom: 50px;
}


/* footer */

#bt_footer {
    background: #6d090b;
    color: #fff;
}

.footer_column {
    padding-top: 40px;
    padding-bottom: 40px;
}

.footer_column .footer-desc {
    color: #fff;
}

.footer-desc ul {
    padding: 0;
    margin-bottom: 0;
}

.footer-desc ul li {
    list-style: none;
}

.footer-desc ul li a {
    font-size: 17px;
    color: #fff;
    transition: .2 all ease;
    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
}

.footer-desc ul li a:hover {
    color: #fff;
    transition: .2 all ease-out;
    -webkit-transition: .2s all ease-out;
    -moz-transition: .2s all ease-out;
    text-decoration: underline;
}

.footer-desc {
    padding-top: 8px;
}

footer #powered {
    padding-top: 25px;
    border-top: solid 1px #fff;
    margin-bottom: 50px;
}

.btn-vertical {
    padding-top: 7px;
    padding-bottom: 10px;
}

.btn-vertical a.fa-icon {
    /*border-radius: 50%;*/
    border-radius: 100%;
    width: 38px;
    height: 37px;
    font-size: 17px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.btn-vertical li {
    list-style: none;
    display: inline-block;
    padding: 0 8px;
}

.btn-vertical li a.btn-default {
    background: #970d10;
    color: #fff;
    border: 0;
    transition: .2 all ease;
    -webkit-transition: .2s all ease;
    -moz-transition: .2s all ease;
}

.btn-vertical li a.ic_fb:hover {
    background-color: #3b579d;
    transition: .2 all ease-out;
    -webkit-transition: .2s all ease-out;
    -moz-transition: .2s all ease-out;
}

.btn-vertical li a.ic_twtr:hover {
    background-color: #32ccfe;
    transition: .2 all ease-out;
    -webkit-transition: .2s all ease-out;
    -moz-transition: .2s all ease-out;
}

.btn-vertical li a.ic_ig:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
    transition: .2s all ease-out;
    -webkit-transition: .2s all ease-out;
    -moz-transition: .2s all ease-out;
}

.btn-vertical li a.ic_yt:hover {
    background-color: #cf3427;
    transition: .2 all ease-out;
    -webkit-transition: .2s all ease-out;
    -moz-transition: .2s all ease-out;
}

#map {
    width: 100%;
    height: 200px;
    background-color: grey;
}

img.imgship {
    border-radius: 10px;
    -webkit-border-radius: 10px;
}


/*scroll top*/

.scroll-top-link {
    position: fixed;
    background: #550809;
    border: solid 1px #fff;
    color: #fff;
    padding: 5px 10px;
    font-size: 20px;
    right: 25px;
    bottom: 25px;
    cursor: pointer;
    display: none;
    z-index: 100;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .25);
}

.scroll-top-link:hover {
    background: #970d10;
    color: #fff;
    transition: .6s all ease;
}

.banner-product {
    padding: 70px 0 70px 0;
}

ul#navtabs li {
    float: none;
    display: inline-block;
    text-align: center;
}

.caption-style-4 {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.caption-style-4 li {
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.hvr-product:hover li .caption {
    opacity: 1;
}

.caption-style-4 img {
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
}

.caption-style-4 .caption {
    cursor: pointer;
    position: absolute;
    top: 45%;
    left: 25%;
    right: 25%;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.caption-style-4 .caption-text {
    z-index: 10;
    color: #000;
    text-align: center;
}

.caption-text button.button_add_cart {
    background: rgba(17, 17, 17, 1);
    border: 0;
    color: #fff;
    outline: 0;
    box-shadow: none;
}

.caption-text button:hover {
    background: rgba(17, 17, 17, .8);
    color: #fff;
}

a#elipsis {
    color: #000;
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

a#elipsis:hover {
    color: rgba(17, 17, 17, .5);
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

span.price-new {
    font-size: 30px;
}

button#btn-see-all {
    background: rgba(17, 17, 17, 1);
    color: #fff;
    border: 0;
    outline: 0;
    width: 190px;
    letter-spacing: 1px;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

button#btn-see-all:hover {
    background: rgba(17, 17, 17, .8);
    color: #fff;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.btn.disabled,
.btn[disabled] {
    background: #000;
    background: rgba(17, 17, 17, 1);
    color: #fff;
    border: 0;
    outline: 0;
    width: 190px;
    letter-spacing: 1px;
}


/*slider*/

ul {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}

.demo .item {
    margin-bottom: 60px;
}

.content-slider li {
    text-align: center;
    color: #FFF;
}

.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}

.demo {
    width: 800px;
}

div.product-category {
    padding: 0px 0 80px;
}

section.et_pb_fullwidth_header {
    background-color: #2b2b2b;
    color: #FFF;
    padding: 50px 0;
    margin: 0;
    text-align: center;
}

.content-slider {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.content-slider li {
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.65);
}

.content-slider li:hover .caption {
    opacity: 1;
}

.content-slider img {
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
}

.content-slider .caption {
    cursor: pointer;
    position: absolute;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.content-slider .blur {
    background-color: rgba(0, 0, 0, 0.65);
    height: 400px;
    width: 400px;
    z-index: 5;
    position: absolute;
}

.content-slider .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 400px;
    height: 300px;
    text-align: center;
    top: 120px;
}

.caption-text .btn-category {
    background: transparent;
    border: solid 1px #fff;
    padding: 10px 50px;
    outline: 0;
    box-shadow: none;
    transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    color: #fff;
}

.caption-text .btn-category:hover,
div.btn-contact-support button:hover {
    background: #fff;
    transition: .2s all ease-in-out;
    -webkit-transition: .2s all ease-in-out;
    -moz-transition: .2s all ease-in-out;
    color: #000;
}

div.btn-contact-support button {
    background: transparent;
    color: #fff;
    outline: 0;
    box-shadow: none;
}

div.hellsnacks-article h1.head-page-title:after {
    display: block;
    background: #000;
    width: 100%;
    height: 1px;
    content: "";
    text-align: center;
    margin: 10px 0;
}

h3.widget-title {
    padding: 0 0 10px;
    border-bottom: 1px dotted #c2c2c2;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 18px;
}

.widget-top-product li {
    padding-bottom: 15px;
    list-style: none;
}

.widget-top-product li:before {
    content: "\00BB";
    padding-right: 15px;
    position: absolute;
    left: 0;
}

.widget-top-product li a {
    display: block;
}

.widget-top-product .amount,
.widget-top-productt del,
.widget-top-product ins {
    margin-right: 10px;
}

.widget-top-product .amount {
    font-size: 12px;
    letter-spacing: 0;
    line-height: 21px;
}

.widget-top-product li a img {
    float: right;
    max-width: 2.618em;
}

img {
    height: auto;
}

.footer_column .column {
    padding-bottom: 30px;
}

.product-categories li {
    margin-bottom: 0.618em;
}

.product-categories li span.count {
    float: right;
    font-size: 1em;
}


/* Label Required */

form div.form-group label.required:after {
    content: " * ";
    color: #F00;
    font-weight: bold;
    margin-left: 5px
}